<h3>Local Variables</h3>
<table class="var_table">
    <% @frame.local_variables.each do |name, value| %>
        <tr><td class="name"><%= name %></td><td><pre><%= value.inspect %></pre></td></tr>
    <% end %>
</table>

<h3>Instance Variables</h3>
<table class="var_table">
    <% @frame.instance_variables.each do |name, value| %>
        <tr><td class="name"><%= name %></td><td><pre><%= value.inspect %></pre></td></tr>
    <% end %>
</table>
